{% extends 'base/base.html' %}
{% block main %}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <form action="/leagues/newLeague">
                <h2 style="display:inline-block">Leagues                 
                    <button style="display:inline-block" class="btn btn-sm btn-primary" type="submit">
                        Create League
                    </button>
                </h2>
            </form>
            <table class="table" 1style="width:100%">
                <thead>
                    <th>
                        Name
                    </th>
                    <th>
                        Owner
                    </th>
                </thead>
                <tbody>
                    {% for league in leagues %}
                    <tr>
                        <td>
                            {{ league.name }}
                        </td>
                        <td>
                            {{ league.owner }}
                        </td>        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock %}