.slide-in-wrapper{
    overflow: hidden;
}

.slide-in-appear{
    position: relative;
    left: -110%;
}
.slide-in-appear.slide-in-appear-active{
    left:0px !important; /* Opera 10.50–12.00 */
    position: relative;
    transition: left 1s ease-in-out, position 1.5s ease-in-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

.slide-in-right-appear{
    position: relative;
    left: 110%;
}
.slide-in-right-appear.slide-in-right-appear-active{
    left:0px !important; /* Opera 10.50–12.00 */
    position: relative;
    transition: left 1s ease-in-out, position 1.5s ease-in-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
