.login-card{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50%;
}
.app-background{
    background: #9cfffd;
}
.bottom-padding{
    padding-bottom: 10px;
}
Nav.Item{
    background-color: aliceblue
}
.noOverflowX{
    overflow-x: hidden;
}
.display-inline{
    display: inline;
}